.btn{
    max-width: max-content;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    & a{
        font-size: var(--fontxs);
        font-weight: 600;
        z-index: 1;
    }
    & img{
        position: absolute;
        width: 120%;
        
        &.shadow{
            z-index: -1;
            filter: blur(10px) brightness(.3);
            transform: translateX(3px) translateY(2px) scale(.8);
        }
    }
    &:hover{
        filter: brightness(1.1);
    }

}