.btn{
    max-width: max-content;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    & a{
        font-size: var(--fontText);
        font-weight: 600;
        z-index: 1;
    }
    & img{
        position: absolute;
        width: 120%;

    }
    &:hover{
        filter: brightness(1.1);
    }

}