
<section class="recipe-file">
    <p>Your random ingredient: <strong>{{ random-ingredient }}</strong></p>
    <header>
        <h1>{{ Title }}</h1>
    </header>
    <div>
        <div>
            <img src="{{ Image }}" alt="">
            <section>
                <h2>Ingredients</h2>
                <ul>
                    {{ Ingredients }}
                </ul>
            </section>
        </div>
        <section>
            <h2>Instructions</h2>
            <p>
                {{ Instructions }}
            </p>
        </section>
    </div>
</section>
