
<section class="recipe-file">
    <div>
        <header>
            <h1>{{ Title }}</h1>
        </header>
        <aside>
            <p>Your random ingredient :</p>
            <div>
                <h2>{{ random-ingredient }}</h2>
                <img src="{{ path }}/static/assets/svg/blobs/blobBonus1.svg" alt="">
            </div>
        </aside>
    </div>
    <div>
        <div>
            <img src="{{ Image }}" alt="">
            <section>
                <h2>Ingredients</h2>
                <ul>
                    {{ Ingredients }}
                </ul>
            </section>
        </div>
        <section>
            <h2>Instructions</h2>
            <p>
                {{ Instructions }}
            </p>
        </section>
    </div>
</section>
