body{
    background-color: var(--colorLight);
    font-family: var(--typeText);
    color: var(--colorDark);
}
main{
    padding: var(--gapl);
    display: flex;
    flex-flow: column;
}
body>header{
    padding: var(--gapxxl);

    & h1{
        font-size: var(--fontxl);
        color: var(--colorLight);
        text-shadow: 0px 0px 4px var(--colorLight);
    }
    & p{
        color: var(--colorLight);
        text-shadow: 0px 0px 4px var(--colorLight);
        margin-left: var(--gapm);
    }
}
form{
    padding: var(--gapm);
    display: flex;
    flex-flow: column;
    align-items: start;
    gap: var(--gapxs);

    & label{
        font-size: var(--fontxs);
    }
    & input, select, textarea{
        font-size: var(--fontText);
        font-family: var(--typeText);
        padding: var(--gapTHxxs);
        background-color: var(--colorDark);
        border: var(--borderStd);
        color: var(--colorMain);
    }
}
footer{
    display: flex;
    background-color: var(--colorMainD);
    color: var(--colorLight);
    justify-content: space-between;
    padding: var(--gapTHxxs) var(--gapxs);
}