body{
    background: var(--colorGradient);
    font-family: var(--typeText);
    color: var(--colorDark);
    display: flex;
    flex-flow: row;
}
p{
    font-size: var(--fontText);
}
ul{
    display: flex;
    flex-flow: column;
    gap: var(--gapxs);

    & li{
        font-weight: bold;

        & a{
            color: var(--colorDarkAlt);

            &:hover{
                color: var(--colorCompDark);
            }
        }
    }
}
footer{
    display: flex;
    background-color: var(--colorMainD);
    color: var(--colorLight);
    justify-content: space-between;
    padding: var(--gapTHxxs) var(--gapxs);
}

@media screen and (max-width: 550px){
    body{
        flex-flow: column;

        &>div:first-of-type{
            position: fixed;
            width: 100%;
            top: 0;

            & nav{
                flex-flow: row;
                position: relative;
                top: 0;
                &>div{
                    flex-flow: row;
                }
            }
        }
        &>div:last-of-type{
            margin-top: var(--nav-height);
        }

    }
}