body{
    background-color: var(--colorLight);
    font-family: var(--typeText);
    color: var(--colorDark);
}
p{
    font-size: var(--fontText);
}

footer{
    display: flex;
    background-color: var(--colorMainD);
    color: var(--colorLight);
    justify-content: space-between;
    padding: var(--gapTHxxs) var(--gapxs);
}