nav{
    width: var(--nav-width);
    display: flex;
    flex-flow: column;
    gap: var(--gapxxl);
    position: fixed;
    padding: var(--gapm);

    &>div{
        display: flex;
        flex-flow: column;
        gap: var(--gapl);
    }
    & a{
        position: absolute;
        font-family: var(--typeCursive);
        font-size: var(--fontm);
        z-index: 1;  
    }
    & svg, img{
        display: block;
        width: 100%;
        height: auto;
    }
    & img{
        width: 100%;
    }
    & div>div{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        
        &.home{
            transform: rotate(5deg);
        }
        &.about{
            transform: rotate(-3deg);
        }
    }
}