
.side-bar{
    background: var(--colorGradient);
    flex: 0 0 var(--nav-width);
    position: relative;
    display: flex;
    align-items: center;
    z-index: 2;
    box-shadow: 2px 2px 15px 1px var(--colorShade);
}
