
.card{
    border: var(--borderStd);
    border-color: var(--colorDark);
    max-width: 350px;
    border-radius: 5px;
    box-shadow: 1px 1px var(--colorDark);
    position: relative;
    display: flex;
    flex-flow: column;
    
    &>div{
        overflow: hidden;
        display: flex;
        flex-flow: column;

        &>img{
            display: block;
            width: 100%;
            aspect-ratio: 4/3;
            object-fit: cover;
        }

        &>div{
            padding: var(--gapxs);
            display: flex;
            flex-flow: column;
            justify-content: space-between;
            gap: var(--gapxs);
            flex: 1;
        }
    }
    &>img{
        display: block;
        position: absolute;
        z-index: -1;
        height: 100%;
        outline: 1px red solid;
    }
}