
.card{
    aspect-ratio: 3/4;
    max-width: 350px;
    position: relative;
    display: flex;
    flex-flow: column;
    justify-content: center;
    
    &>div{
        overflow: hidden;
        display: flex;
        flex-flow: column;

        &>div{
            padding: var(--gapxs);
            display: flex;
            flex-flow: column;
            justify-content: space-between;
            gap: var(--gapxs);
            flex: 1;
        }
        &>div>img{
            display: block;
            width: 100%;
            aspect-ratio: 4/3;
            object-fit: cover;
        }
        & .mask{
            -webkit-mask-image: url('/static/assets/svg/blobs/blobframe3.svg');
            mask-image: url('/static/assets/svg/blobs/blobframe3.svg');
            -webkit-mask-repeat: no-repeat;
            mask-repeat: no-repeat;    
        }
    }
    &>img{
        display: block;
        position: absolute;
        z-index: -1;
        width: 100%;
    }
}