
.card{
    aspect-ratio: 1/1;
    max-width: 350px;
    position: relative;
    display: flex;
    flex-flow: column;
    
    &>div{
        flex: 1;
        display: flex;
        flex-flow: column;

        &>div{
            display: flex;
            flex-flow: column;
            gap: var(--gapxs);
            justify-content: end;
        }
        &>div>img{
            display: block;
            height: 100%;
            object-fit: cover;
        }
        & .mask{
            flex: 0 0 240px;
            -webkit-mask-image: url('/static/assets/svg/blobs/blobframe3.svg');
            mask-image: url('/static/assets/svg/blobs/blobframe3.svg');
            -webkit-mask-position: top center;
            -webkit-mask-size: 200px;
            mask-size: cover;
            -webkit-mask-repeat: no-repeat;
            mask-repeat: no-repeat;
        }
    }
    &>img{
        display: block;
        position: absolute;
        z-index: -1;
        width: 100%;
    }
}