
.home{
    display: flex;
    flex-flow: column;
    gap: var(--gaps);

    & header{
        max-width: max-content;

        &>div{
            margin: auto;
            max-width: max-content;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            
            & h2{
                font-size: var(--fonts);
                font-family: var(--typeCursive);
            }
            & img{
                position: absolute;
                z-index: -1;
                width: 100px;
            }
            & p{
                font-size: var(--fontText);
            }
        }
    }
}