
.recipe-file{
    display: flex;
    flex-flow: column;
    gap: var(--gapl);

    & h2{
        font-family: var(--typeCursive);
    }

    &>div:first-of-type{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        gap: var(--gap);

        & aside{
            flex: 1 0 320px;
            max-height: 75px;
            max-width: max-content;
            display: flex;
            flex-flow: row wrap;
            align-items: center;
            justify-content: end;
            gap: var(--gaps);
    
            &>div{
                max-width: max-content;
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;
                
                & h2{
                    font-size: var(--fontxs);
                    font-family: var(--typeCursive);
                }
                & img{
                    position: absolute;
                    z-index: -1;
                    height: var(--fontl);
                }
                & p{
                    font-size: var(--fontxxs);
                }
            }
        }
        & header{
            flex: 1 1 600px;
            & h1{
                font-size: var(--fontl);
                font-family: var(--typeCursive);
            }
        }
    }

    &>p{
        font-size: var(--fontxxs);

        &>strong{
            border-radius: 4px;
            background-color: var(--colorSec);
            padding:0 var(--gapTHxxs);
        }
    }
    & section{
        display: flex;
        flex-flow: column;
        gap: var(--gaps);
    }
    &>div:last-of-type{
        display: flex;
        flex-flow: row wrap;
        gap: var(--gapl);

        & img{
            border-radius: 5px;
            box-shadow: 2px 2px 15px 2px var(--colorShade);
        }

        &>div{
            flex: 1;
            display: flex;
            flex-flow: column;
            align-items: start;
            gap: var(--gaps);
        }
        &>section{
            flex: 2;
        }
    }
}