
.recipe-file{
    display: flex;
    flex-flow: column;
    gap: var(--gaps);

    & header{
        
        & h1{
            font-size: var(--fontm);
            font-family: var(--typeCursive);
        }
    }
    &>p{
        font-size: var(--fontxxs);

        &>strong{
            border-radius: 4px;
            background-color: var(--colorSec);
            padding:0 var(--gapTHxxs);
        }
    }
    &>div{
        display: flex;
        flex-flow: row wrap;
        gap: var(--gaps);

        &>div{
            flex: 1;
        }
        &>section{
            flex: 2;
        }
    }
}